@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #09090b; /* zinc-950 */
  color: #fafafa;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Smooth scrolling for the whole page */
html {
  scroll-behavior: smooth;
}